# Local development environment variables
OLLAMA_ENDPOINT=http://localhost:11434
INNGEST_ENV=dev
INNGEST_APP_ID=llm-agent-app 
INNGEST_SIGNING_KEY=
INNGEST_EVENT_KEY=
FLASK_ENV=development
FLASK_DEBUG=True

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_DB=0

# Redis Local
# REDIS_HOST=localhost
# REDIS_PORT=6379
# REDIS_DB=0
